* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 18px;
}

header {
  background-color: darkslategrey;
  color: whitesmoke;
}

header h1 {
  font-size: 2rem;
  margin: 0 auto 2rem;
  max-width: 500px;
  padding: 1rem;
  text-align: center;
}

header #toggle-sound {
  cursor: pointer;
  float: right;
  position: relative;
  height: 2.5rem;
  width: 2.5rem;
}

header #sound-icon {
  background-image: url(../images/sound-on.svg);
  background-size: cover;
  -webkit-filter: invert(1);
          filter: invert(1);
  height: 1.5rem;
  left: 0.5rem;
  margin-top: -0.4rem;
  position: absolute;
  top: 0.5rem;
  width: 1.5rem;
}

header input {
  position: absolute;
  height: 2.5rem;
  left: 0rem;
  opacity: 0;
  top: 0rem;
  width: 2.5rem;
  z-index: 2;
}

header input:focus ~ span {
  outline: 2px solid #ee3333;
  outline-offset: 0.5rem;
}

header #sound-icon.sound-off {
  background-image: url(../images/sound-off.svg);
}

main#app {
  margin: 0 auto;
  padding: 0 1rem;
  width: 100%;
  max-width: 500px;
}

main#app h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  text-align: center;
}

main#app p {
  margin-bottom: 0.5rem;
}

button {
  cursor: pointer;
  border-radius: 0.3rem;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  font-size: 1.1rem;
  font-weight: bold;
  margin: 1rem 0 4rem;
  padding: 0.8rem 1rem;
  -webkit-transition: background-color 0.1s ease-in-out;
  transition: background-color 0.1s ease-in-out;
}

.btn-start,
.btn-restart {
  background-color: #3a6fa0;
  color: whitesmoke;
  border: 1px solid #3a6fa0;
}

.btn-start:hover, .btn-start:focus,
.btn-restart:hover,
.btn-restart:focus {
  background-color: #264969;
}

.btn-end {
  background-color: #c74a41;
  color: whitesmoke;
  border: 1px solid #c74a41;
}

.btn-end:hover, .btn-end:focus {
  background-color: #74140d;
}

footer {
  background-color: darkslategrey;
  color: whitesmoke;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

footer p {
  padding: 1rem;
  text-align: right;
}

#current-word {
  text-align: center;
}

#current-word p {
  display: inline;
  font-size: 1.5rem;
}

#current-word span {
  font-size: 2rem;
  text-transform: uppercase;
}

#hangman-image-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1rem 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#hangman-image-section img {
  border: 2px solid darkslategrey;
  width: 100%;
  max-width: 407px;
}

#message-bar {
  margin-bottom: 1rem;
}

#message-bar p {
  border-bottom: 1px solid darkslategrey;
  text-align: center;
}

#letters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#letters span {
  background-color: steelblue;
  border: 1px solid darkslategrey;
  border-radius: 0.3rem;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  color: whitesmoke;
  margin: 0.3rem;
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  text-transform: uppercase;
  -webkit-transition: background-color 0.1s ease-in-out;
  transition: background-color 0.1s ease-in-out;
}

#letters span:hover {
  background-color: #103d63;
}

@media screen and (max-width: 500px) {
  header h1 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    padding: 0.8rem;
    text-align: center;
  }
  main#app h2 {
    font-size: 1.3rem;
  }
  main#app p {
    margin-bottom: 0.5rem;
  }
  #current-word p {
    font-size: 1.1rem;
  }
  #current-word span {
    font-size: 1.5rem;
  }
  #hangman-image-section {
    padding: 0.5rem 0;
  }
  #hangman-image-section img {
    max-width: 70%;
  }
  #message-bar {
    margin-bottom: 0.5rem;
  }
  #letters span {
    margin: 0.2rem;
    padding: 0.4rem 0.8rem;
    font-size: 1.1rem;
  }
}
/*# sourceMappingURL=styles.css.map */